@charset 'UTF-8';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to bottom, #59B626, #32740E);
	color: #FFFFFF;
}

.application-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#audio-information {
	margin: 2rem 0 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#chapter {
	font-size: 1.5em;
	font-weight: bold;
}

#button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
}

#previous, #play-pause, #next {
	cursor: pointer;
}

#previous, #next {
	width: 40px;
}

#play-pause {
	width: 60px;
}

.pause {
	display: none;
}

.playing-audio .play {
	display: none;
}

.playing-audio .pause {
	display: block;
}